[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Play Framework
[access "refs/*"]
	owner = group user/codebreaker2594
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/codebreaker2594
	label-Verified = -1..+1 group user/codebreaker2594
	push = group user/codebreaker2594
	read = group user/codebreaker2594
	rebase = group user/codebreaker2594
	removeReviewer = group user/codebreaker2594
	submit = group user/codebreaker2594
[access "refs/heads/*"]
	create = group user/codebreaker2594
	push = +force group user/codebreaker2594
	pushMerge = group user/codebreaker2594
	read = group user/codebreaker2594
[access "refs/tags/*"]
	push = group user/codebreaker2594
	push = +force group user/codebreaker2594
